Repository kazewong/FlowMC: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: src||test||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.6.3"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args:
          [
            --ignore-words-list,
            "statics,socio-economic",
            --check-filenames,
            --skip,
            "*.ipynb",
          ]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

Add optimizer back
  docs/tutorials/dualmoon.ipynb
  src/flowMC/resource/nf_model/rqSpline.py
  src/flowMC/resource/optimizer.py
  src/flowMC/resource_strategy_bundles.py
Due: none

Move corner and arviz to optional dependencies.
  pyproject.toml
  uv.lock
Due: none

clean up dualmoon example
  docs/tutorials/dualmoon.ipynb
  docs/tutorials/train_normalizing_flow.ipynb
Due: none

Update navigation
  docs/tutorials/dualmoon.ipynb
  mkdocs.yml
Due: no-http

Update tutorial title and fix resource path in loading_resources notebook
  docs/tutorials/loading_resources.ipynb
  mkdocs.yml
Due: no-http

update index
  docs/FAQ.md
  docs/index.md
  docs/quickstart.md
Due: no-bracket-links, no-http

update failed test
  test/unit/test_kernels.py
  test/unit/test_strategies.py
Due: none

update pre-commit.yaml
  .pre-commit-config.yaml
Due: none

pre-commit reformatting
  docs/tutorials/custom_strategy.ipynb
  docs/tutorials/dualmoon.ipynb
  src/flowMC/resource/nf_model/rqSpline.py
  src/flowMC/resource_strategy_bundles.py
  src/flowMC/strategy/base.py
  src/flowMC/strategy/optimization.py
  src/flowMC/strategy/train_model.py
  test/unit/test_strategies.py
Due: none

Remove deprecated files
  src/flowMC/utils/EvolutionaryOptimizer.py
  src/flowMC/utils/postprocessing.py
Due: none

pre-commit update
  .pre-commit-config.yaml
  ruff.toml
  src/flowMC/resource/local_kernel/HMC.py
  src/flowMC/resource_strategy_bundles.py
  src/flowMC/strategy/base.py
  src/flowMC/strategy/global_tuning.py
  src/flowMC/strategy/optimization.py
  src/flowMC/strategy/take_steps.py
  src/flowMC/strategy/train_model.py
Due: none

Removing legacy precommit and add new format
  .pre-commit-config.yaml
  docs/tutorials/loading_resources.ipynb
Due: none

update
  docs/quickstart.md
  src/flowMC/Sampler.py
  src/flowMC/resource/buffers.py
Due: no-bracket-links, no-http

update
  docs/tutorials/dualmoon.ipynb
  test/integration/test_quickstart.py
Due: none

Update README.md
  README.md
Due: no-bracket-links, no-http

Fix image path in dualmoon tutorial notebook
  docs/tutorials/dualmoon.ipynb
Due: none

update kernel testing
  pyproject.toml
  src/flowMC/resource/local_kernel/Gaussian_random_walk.py
  test/unit/test_kernels.py
Due: none

Convert pass to NotImplementedError
  src/flowMC/Sampler.py
  src/flowMC/resource/local_kernel/Gaussian_random_walk.py
  src/flowMC/resource/local_kernel/MALA.py
  src/flowMC/resource/optimizer.py
Due: none

Removing deprecated util function. Going forward, we should only accept Jax likelihood
  pyproject.toml
  src/flowMC/utils/PythonFunctionWrap.py
  src/flowMC/utils/__init__.py
Due: none

update quick start
  docs/quickstart.md
Due: no-bracket-links, no-http

Add optimization stand alone test
  src/flowMC/strategy/optimization.py
  test/unit/test_strategies.py
Due: none

update readme
  README.md
Due: no-bracket-links, no-http

Add jax tree flatten and unflatten to exclude coverage pattern
  pyproject.toml
Due: none

Remove unused StrategiesBundle class and clean up test file
  src/flowMC/strategy/base.py
  test/unit/test_strategies.py
Due: none

Format
  src/flowMC/strategy/base.py
  test/integration/test_quickstart.py
  test/unit/test_kernels.py
  test/unit/test_strategies.py
Due: none

Clarify documentation on jax compatibility for likelihood functions
  docs/quickstart.md
Due: no-bracket-links, no-http

update buffer definition
  src/flowMC/resource/buffers.py
Due: none

update resource strategy buffer initialization
  src/flowMC/resource_strategy_bundles.py
  test/unit/test_resources.py
Due: none

update test
  src/flowMC/strategy/train_model.py
  test/integration/test_HMC.py
  test/integration/test_MALA.py
  test/integration/test_RWMCMC.py
Due: none

update shape
  src/flowMC/strategy/take_steps.py
Due: none

update test
  src/flowMC/strategy/train_model.py
  test/unit/test_kernels.py
  test/unit/test_resources.py
  test/unit/test_strategies.py
Due: none

fix stepping bugs, and notebooks according to the new interface
  docs/tutorials/custom_strategy.ipynb
  docs/tutorials/dualmoon.ipynb
  src/flowMC/resource/buffers.py
  src/flowMC/strategy/take_steps.py
  src/flowMC/strategy/train_model.py
  test/unit/test_resources.py
Due: none

format
  src/flowMC/resource/buffers.py
  src/flowMC/strategy/train_model.py
  test/unit/test_kernels.py
  test/unit/test_resources.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update python-publish.yml
  .github/workflows/python-publish.yml
Due: no-http

Add skeleton code
  src/flowMC/strategy/parallel_tempering.py
Due: none

Add skeleton for logPDF
  src/flowMC/resource/logPDF.py
Due: none

Add LogPDF class
  src/flowMC/resource/logPDF.py
Due: none
