Repository kazewong/FlowMC: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http

.pre-commit-config.yaml:

files: src||test||examples
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.6.3"
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi, jupyter]
      - id: ruff-format # formatter
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        args:
          [
            --ignore-words-list,
            "statics,socio-economic",
            --check-filenames,
            --skip,
            "*.ipynb",
          ]
  - repo: local
    hooks:
      - id: no-bracket-links
        name: "Brackets should not be inside links [[link]](url) -> [[link](url)]"
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

      - id: no-http
        name: URLs must use HTTPS
        entry: "http:"
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

Fix kernel tests. NF has been moved to test_strategies
  pyproject.toml
  test/unit/test_kernels.py
Due: none

update test_kernels.py and github action
  .github/workflows/pre-commit.yml
  .github/workflows/python-package.yml
  example/notebook/dualmoon.ipynb
  pyproject.toml
  test/unit/test_kernels.py
Due: no-http

Update pyproject.toml
  pyproject.toml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: no-bracket-links, no-http

update action
  .github/workflows/python-package.yml
  .github/workflows/run_tests.yml
Due: no-http

Update run_tests.yml
  .coverage
  .github/workflows/run_tests.yml
  pyproject.toml
  uv.lock
Due: no-http

Add token line
  .github/workflows/run_tests.yml
Due: no-http

Change token name
  .github/workflows/run_tests.yml
Due: no-http

update github action token
  .github/workflows/run_tests.yml
Due: no-http

update readthedocs requirements
  docs/requirements.txt
Due: none

test docs build
  docs/requirements.txt
Due: none

update readthedocs.yml
  readthedocs.yml
Due: no-http

Update README.md
  README.md
Due: no-bracket-links, no-http

Update docs
  docs/anatomy.md
  docs/dual_moon.png
  docs/quickstart.md
  example/notebook/dualmoon.ipynb
  mkdocs.yml
Due: no-bracket-links, no-http

update
  example/notebook/dualmoon.ipynb
Due: none

Move tutorials to docs and remove legacy examples folder
  docs/quickstart.md
  docs/tutorials
  docs/tutorials/analyzingChains.ipynb
  docs/tutorials/custom_strategy.ipynb
  docs/tutorials/dual_moon.png
  docs/tutorials/dualmoon.ipynb
  docs/tutorials/maximizing_likelihood.ipynb
  docs/tutorials/mog_pretrain.ipynb
  docs/tutorials/normalizingFlow.ipynb
  example/dualmoon.py
  example/non_jax_likelihood.py
  example/train_normalizing_flow.py
Due: no-bracket-links, no-http

black formatting
  docs/tutorials/dualmoon.ipynb
  src/flowMC/resource/local_kernel/HMC.py
  src/flowMC/resource/local_kernel/flowHMC.py
  src/flowMC/strategy/base.py
  src/flowMC/strategy/global_tuning.py
  src/flowMC/strategy/optimization.py
  src/flowMC/strategy/take_steps.py
  src/flowMC/strategy/train_model.py
Due: none

format docs
  src/flowMC/Sampler.py
  src/flowMC/resource/base.py
  src/flowMC/resource/local_kernel/Gaussian_random_walk.py
  src/flowMC/resource/local_kernel/HMC.py
  src/flowMC/resource/local_kernel/MALA.py
  src/flowMC/resource/local_kernel/base.py
  src/flowMC/resource/nf_model/base.py
  src/flowMC/resource/nf_model/common.py
  src/flowMC/resource/nf_model/realNVP.py
  src/flowMC/resource/nf_model/rqSpline.py
  src/flowMC/resource_strategy_bundles.py
  src/flowMC/strategy/base.py
  src/flowMC/strategy/optimization.py
  src/flowMC/strategy/take_steps.py
  src/flowMC/utils/EvolutionaryOptimizer.py
  src/flowMC/utils/postprocessing.py
Due: none

Formatting and removed commented out functions in Sampler
  src/flowMC/Sampler.py
  src/flowMC/resource/local_kernel/HMC.py
  src/flowMC/resource/local_kernel/flowHMC.py
  src/flowMC/strategy/base.py
  src/flowMC/strategy/global_tuning.py
  src/flowMC/strategy/take_steps.py
  src/flowMC/strategy/train_model.py
Due: none

Format
  src/flowMC/Sampler.py
  src/flowMC/resource/nf_model/common.py
Due: none

format doc strings
  src/flowMC/resource/nf_model/realNVP.py
  src/flowMC/resource/nf_model/rqSpline.py
Due: none

Format
  src/flowMC/Sampler.py
  src/flowMC/resource/buffers.py
  test/integration/test_HMC.py
  test/integration/test_MALA.py
  test/integration/test_RWMCMC.py
  test/integration/test_flowHMC.py
Due: none

Finish formatting
  src/flowMC/resource/local_kernel/flowHMC.py
  src/flowMC/utils/PythonFunctionWrap.py
  src/flowMC/utils/postprocessing.py
Due: none

It's probably some copilot wackiness in these lines
  src/flowMC/resource/nf_model/base.py
Due: none

Update anatomy
  docs/anatomy.md
  docs/tutorials/custom_strategy.ipynb
  src/flowMC/Sampler.py
Due: no-bracket-links, no-http

Update anatomy
  docs/anatomy.md
Due: no-bracket-links, no-http

Update quick start
  docs/anatomy.md
  docs/quickstart.md
  mkdocs.yml
  src/flowMC/resource_strategy_bundles.py
Due: no-bracket-links, no-http

Enhance quickstart and tutorials with detailed sampling strategy explanation; update Python version in notebook metadata and remove configuration from navigation
  docs/quickstart.md
  docs/tutorials/custom_strategy.ipynb
  docs/tutorials/normalizingFlow.ipynb
  mkdocs.yml
Due: no-bracket-links, no-http

Update optimization strategy with the newest api
  src/flowMC/strategy/base.py
  src/flowMC/strategy/optimization.py
Due: none

Update optimization strategy and test case
  src/flowMC/strategy/optimization.py
  test/unit/test_strategies.py
Due: none

update custom strategy
  docs/tutorials/custom_strategy.ipynb
  docs/tutorials/dualmoon.ipynb
Due: none

update hyperparameters
  docs/tutorials/custom_strategy.ipynb
Due: none

Finish custom strategy notebook
  docs/tutorials/custom_strategy.ipynb
Due: none

Update cell number and delete maximizing likelihood notebook
  docs/tutorials/custom_strategy.ipynb
  docs/tutorials/maximizing_likelihood.ipynb
Due: none

rename some notebook and make slight update to train_normalizing_flow.ipynb
  docs/tutorials/custom_strategy.ipynb
  docs/tutorials/dualmoon.ipynb
  docs/tutorials/loading_resources.ipynb
  docs/tutorials/normalizingFlow.ipynb
  docs/tutorials/train_normalizing_flow.ipynb
Due: none

Take away arviz example since it is already in dualmoon.ipynb
  docs/tutorials/analyzingChains.ipynb
  docs/tutorials/dualmoon.ipynb
Due: none

update buffer naming
  docs/tutorials/custom_strategy.ipynb
  docs/tutorials/dualmoon.ipynb
  src/flowMC/resource/buffers.py
  src/flowMC/strategy/train_model.py
Due: none

remove optimizer resource
  docs/tutorials/dualmoon.ipynb
  src/flowMC/resource/buffers.py
  src/flowMC/resource/optimizer.py
  src/flowMC/resource_strategy_bundles.py
  src/flowMC/strategy/global_tuning.py
Due: none

update repr
  src/flowMC/resource/nf_model/NF_proposal.py
  src/flowMC/resource/nf_model/rqSpline.py
Due: none
